@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Popins", sans-serif;
  font-size: 16px;
}

:root {
  --boxShadow: #000000 1px 4px 20px -14px;
}

.main-app {
  min-height: 650px;
}

.btn__login {
  background-color: #000af7;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__login:hover {
  background-color: #000af7;
  color: #fff;
}

.login__title {
  font-size: 40px;
  font-weight: bold;
  color: #000af7;
}

.login__title_sup {
  font-size: 30px;
  font-weight: bold;
  color: #000af7;
}

.input__username {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ff61ba;
}
.input__username::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #CECECE;
}
.input__username::placeholder {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #CECECE;
}
.input__username:focus {
  border: 2px solid #ff61ba;
}

.input__keycode-total {
  display: flex;
  justify-content: center;
}

.input__keycode {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}
.input__keycode::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #CECECE;
}
.input__keycode::placeholder {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #CECECE;
}
.input__keycode:focus {
  border: 2px solid #ff61ba;
}

.btn__submit {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background-color: #ff61ba;
  box-shadow: var(--boxShadow);
  color: #FFF;
}

section {
  margin: 50px 0;
}

.toaster {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 300px;
  height: auto;
  z-index: 100px;
}

.doctor__list {
  width: 100%;
  height: auto; /* Thay đổi từ 372px thành auto */
  position: relative; /* Thay đổi từ absolute thành relative */
  margin-bottom: 120px;
}

.doctor__list_background {
  background-color: rgb(240, 235, 255);
  width: 255px;
  height: 280px;
  position: relative;
  left: 0;
  top: 70px;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}

.doctor__list_image {
  height: 360px;
  position: absolute;
  left: -50px;
  top: 0;
  overflow: hidden;
}

.doctor__list_background_title {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 60px;
  position: absolute;
  left: 26px;
  top: 312px;
  border-radius: 10px;
}

.doctor__list_title {
  color: #000;
  width: 200px;
  height: 21px;
  position: absolute;
  left: 40px;
  top: 324px;
  font-family: "Comfortaa", sans-serif;
  text-align: left;
  font-size: 12px;
  font-weight: 900;
}

.doctor__list_department {
  font-family: "Comfortaa", sans-serif;
  color: rgb(138, 138, 138);
  width: 150px;
  height: 18px;
  position: absolute;
  left: 40px;
  top: 346px;
  font-weight: 600;
  text-align: left;
  font-size: 11px;
}

.doctor__list_icon {
  position: absolute;
  background-color: #fff;
  width: 40px;
  height: 40px;
  left: 200px;
  top: 325px;
  text-align: center;
  font-size: 30px;
  border: 1px solid blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctor__list_icon:hover {
  background-color: #000af7;
  color: #fff;
}
.doctor__list_icon:hover .list__icon-rowup {
  color: #fff;
}

.doctor__detail_background {
  background-color: #EFF9FE;
}

.doctor__detail_header {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctor__detail_header .doctor__detail_header_left {
  text-align: center;
}
.doctor__detail_header .doctor__detail_header_right {
  text-align: center;
}
.doctor__detail_header .doctor__detail_header_right h2 {
  font-family: "Comfortaa", sans-serif;
  color: blue;
  font-weight: 900;
  font-size: 40px;
}
.doctor__detail_header .doctor__detail_header_right h3 {
  font-family: "Comfortaa", sans-serif;
  color: dimgray;
}
.doctor__detail_header .doctor__detail_header_right a {
  margin-top: 30px;
  font-size: 30px;
}

.doctor__detail_woking {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.doctor__detail_woking ol {
  font-family: "Comfortaa", sans-serif;
  margin: 32px auto;
  line-height: 1.8;
  list-style: none;
  counter-reset: list-counter;
}
.doctor__detail_woking li {
  margin: 20px 32px;
  position: relative;
}
.doctor__detail_woking li::before {
  content: counter(list-counter);
  counter-increment: list-counter;
  position: absolute;
  top: 0;
  left: -50px;
  border: 2px solid blue;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #fff;
  transition: all 200ms ease;
}
.doctor__detail_woking li:hover::before {
  background: blue;
  color: #fff;
}
.doctor__detail_woking li::after {
  content: "";
  position: absolute;
  left: -34px;
  top: 42px;
  height: calc(100% - 30px);
  width: 1px;
  background: #000;
}
.doctor__detail_woking li:last-child::after {
  height: calc(100% - 50px);
}

.doctor__detail_list {
  margin-top: 50px;
}
.doctor__detail_list .doctor__detail_list_title {
  color: blue;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: "Comfortaa", sans-serif;
}
.doctor__detail_list .card {
  border-radius: 10px;
}
.doctor__detail_list .doctor__detail_list_card {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
}
.doctor__detail_list .doctor__detail_list_card .card-title {
  margin-top: 20px;
  color: blue;
  font-weight: 900;
}
.doctor__detail_list .doctor__detail_list_card .card-title_link {
  text-decoration: none;
}
.doctor__detail_list .doctor__detail_list_card .card-title_link :hover {
  text-decoration: underline;
}

nav {
  font-family: "Poppins", sans-serif;
}
nav .nav-link {
  text-decoration: none !important;
  color: #1d1617;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
}
nav .nav-link:hover {
  color: #000af7;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #1d1617;
}
.logo .logo-span {
  color: #000af7;
}

.login {
  padding: 8px 15px;
  border: 1.5px solid #000af7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-decoration: none;
  color: #1d1617;
  cursor: pointer;
}
.login:hover {
  background-color: #000af7;
  color: #fff;
  font-weight: 500;
}

.img__icon_login {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.icon_login {
  position: relative;
}
.icon_login .dropdown__user {
  position: absolute;
  right: 0px;
  width: 200px;
  background-color: #fff;
  z-index: 10;
}
.icon_login .dropdown__user li {
  padding: 10px 20px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.icon_login .dropdown__user li:hover {
  background-color: #f2f2f2;
}
.icon_login .dropdown__user li a {
  color: #1d1617;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.icon_login .dropdown__user li a:hover {
  color: #000af7;
}

.footer .footer__partient {
  list-style: none !important;
  line-height: 30px !important;
}
.footer .menu__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__title_small {
  font-size: 28px;
  font-weight: bold;
}

.home__title_largest {
  font-size: 42px;
  font-weight: bolder;
}

.text__paragrah {
  font-size: 16px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.51);
  margin-top: 30px;
}

.form__search {
  z-index: 100;
  margin-top: 70px;
  position: relative;
  width: 100%;
  padding: 30px 0;
}
.form__search .search__home {
  position: absolute;
  right: -20%;
  width: 100%;
  padding: 25px 30px;
  border-radius: 20px;
  border: 0;
  box-shadow: var(--boxShadow);
  outline: none;
}
.form__search .btn__search_home {
  position: absolute;
  top: 85%;
  right: -17%;
  outline: none;
  background-image: linear-gradient(to right, #9DCEFF 20%, #92A3FD 100%);
  padding: 5px 20px;
  border-radius: 10px;
  border: 0;
  color: #fff;
}
.form__search .btn__search_home:focus {
  border: 1px solid #9DCEFF;
}

.view__partient {
  float: right;
  width: 180px;
  height: 90px;
  border-radius: 20px;
  background-color: #C0E5FA;
  padding: 15px 20px;
}
.view__partient h5 {
  font-weight: bold;
  color: #000000;
}
.view__partient p {
  font-size: 14px;
  color: #000000;
}

.bg__search_home {
  width: 350px;
  height: 500px;
  border: 3px solid #9DCEFF;
  box-shadow: var(--boxShadow);
  border-radius: 200px;
  overflow: hidden;
  margin-left: 50px;
}
.bg__search_home img {
  width: 380px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn__banner {
  position: absolute;
  bottom: 100px;
  right: -10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.btn__banner:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000000;
}

.doctor__star {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #f9e400;
  font-size: 18px;
}

.doctor__name {
  font-size: 18px;
  font-weight: 600;
}

.doctor_image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--boxShadow);
}

.home_booking {
  width: 100%;
  border-radius: 20px;
  text-align: center;
  box-shadow: var(--boxShadow);
  position: relative;
  left: -30px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.home_booking .home__booking_image {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
  position: absolute;
  top: -20%;
  left: 38%;
  background-color: #fff;
}
.home_booking .booking_desc {
  margin-top: 30px;
}
.home_booking .booking_desc .home__booking_name {
  font-size: 14px;
}
.home_booking .booking_desc .home__booking_department {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
}
.home_booking .booking_desc .home_booking_button {
  background-color: #FBAD10;
  padding: 10px 0;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.card__list {
  width: 100%;
  background-color: #FFF0D8;
  padding: 15px;
  border-radius: 20px;
  box-shadow: var(--boxShadow);
}
.card__list .card__list_image {
  display: flex;
  align-items: center;
  position: relative;
}
.card__list .card__list_image .img_doctor {
  width: 40px;
  height: 40px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}
.card__list .card__list_number {
  font-size: 22px;
  font-weight: bolder;
  margin-top: 20px;
}
.card__list h5 {
  font-size: 15px;
}

.doctor__team {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}
.doctor__team img {
  width: 100%;
  height: 300px;
  border-radius: 50px;
}
.doctor__team .doctor__team_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100px;
  left: 25px;
  bottom: 15px;
}
.doctor__team .doctor__team_desc .title {
  color: #fff;
}
.doctor__team .doctor__team_desc .phone {
  color: #fff;
}
.doctor__team .doctor__team_desc .button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fff;
  margin-left: 30px;
}

.doctor__khambenh {
  width: 100%;
  height: 300px;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}
.doctor__khambenh img {
  width: 100%;
  height: 300px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=App.css.map */